<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
       <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="wrapper">
  <div class="overlay"></div>
    <%= render 'layouts/side_nav' %>
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
        <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name %>"><%= msg %></div>
        <% end %>

      <div id="page-content-wrapper">
      <div class="container">
      <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <%= yield %>
      </div>
      </div>
      </div>  
      </div>
  </div>
</body>
</html>
